@model ObligatorioProgram3.Models.Ordene

@{
    ViewData["Title"] = "Eliminar Orden";
}

<h2>Ordenes > eliminar orden</></h2>

<div class="p-4">
    <h4>Detalles de la Orden</h4>
    <dl class="row">
        <dt class="col-2">Id</dt>
        <dd class="col-2">@Model.Id</dd>

        <dt class="col-2">Total</dt>
        <dd class="col-2">$@Model.Total</dd>

    </dl>

    <h4>Detalles de los Ítems</h4>
    <ul>
        @foreach (var detalle in Model.OrdenDetalles)
        {
            <p> @detalle.Cantidad x @detalle.IdmenuNavigation.NombrePlato </p>
        }
    </ul>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Reportes" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<style>
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: flex-start;
        flex-direction: column;
    }
</style>