@model ObligatorioProgram3.Models.Usuario

<div class="modal-header">
    <h5 class="modal-title" id="crearUsuarioModalLabel">Usuarios > añadir usuario</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="crearUsuarioForm" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Idrol" class="control-label"></label>
            <select asp-for="Idrol" asp-items="ViewBag.Idrol" class="form-control"></select>
            <span asp-validation-for="Idrol" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contraseña" class="control-label"></label>
            <input asp-for="Contraseña" class="form-control" />
            <span asp-validation-for="Contraseña" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-dark" />
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

