@model ObligatorioProgram3.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h2>Usuarios > editar</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="p-4">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Apellido" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <input asp-for="Apellido" class="form-control" />
                </div>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <input asp-for="Email" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Contraseña" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <input asp-for="Contraseña" class="form-control" />
                </div>
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <input style="width:max-content"
                       type="submit" value="Guardar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
