@model IEnumerable<ObligatorioProgram3.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}


<!-- Index.cshtml for Users -->

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <h2>Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Name</th>
                <th>Avatar</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nombre</td>
                    <td>@user.Apellido</td>
                    <td>@user.Email</td>
                 
                </tr>
            }
        </tbody>
    </table>
</div>
