@model ObligatorioProgram3.Models.Mesa

@{
    ViewData["Title"] = "Edit";
}

<h2>Mesa > editar</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="p-4">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="mb-3">
                <label class="form-label">Número de mesa</label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <input asp-for="NumeroMesa" class="form-control" />
                </div>
                <span asp-validation-for="NumeroMesa" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Capacidad" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <input asp-for="Capacidad" class="form-control" />
                </div>
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Estado" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <select asp-for="Estado" class="form-control">
                        <option value="Disponible">Disponible</option>
                        <option value="Reservada">Reservada</option>
                        <option value="Ocupada">Ocupada</option>
                    </select>
                </div>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Restaurante</label>
                <div class="input-group">
                    <span class="input-group-text"></span>
                    <select asp-for="Idrestaurante" class="form-control" asp-items="ViewBag.Idrestaurante"></select>
                </div>
                <span asp-validation-for="Idrestaurante" class="text-danger"></span>
            </div>
            
            <div class="d-grid">
                <input style="width:max-content"
                type="submit" value="Guardar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
}
