@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>

        

        .login-form {
            margin-top: 20%; /* Ajustado para centrar el formulario */
        }

        .main-content {
            margin-left: 0;
        }

        .sidenav {
            height: 100%;
            width: 40% !important;
            overflow-x: hidden;
            position: fixed;
            padding-top: 20px;
            margin-top: auto;
            z-index: 0;
            top: 0;
            left: 0;
            /*                                              */
            background-image: url('/imagenes/background2.png');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .main {
            padding: 0px 10px;
            margin: auto;
        }

        .container.body-content {
            padding: 20px;
            width: 60% !important;
            margin-top: auto;
            overflow-x: hidden;
            float: right;
            align-content: center;
        }


        .login-main-text {
            margin-top: 0;
            padding: 60px;
            color: #fff;
        }

            .login-main-text h2 {
                font-weight: 300;
            }

        .btn-black {
            background-color: #000 !important;
            color: #fff;
        }


        /* Añadido para el formato del formulario ASP.NET */
        .row {
            margin-bottom: 8px;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: 5px;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            text-align: left; /* Ajuste importante para centrar el texto dentro del input */
            margin: 0 auto; /* Alinea el input al centro */
        }


        .login-container {
            background-color: rgba(0,0,0,0.2) ;
            border-radius: 5px;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 100%;
            text-align: center; /* Alinea el contenido al centro */
            margin: auto; /* Centra el contenedor */
        }

            .login-container label,
            .login-container input,
            .login-container button {
                margin-bottom: 20px;
                margin-top: 20px;
            }

        .h2-tabulado {
            text-indent: 50px;
        }

        .main.d-flex.align-items-right {
            margin-top: 25%;
            justify-self: stretch;
        }

        .btn-dark{
        transition: background-color 0.3s ease, color 0.3s ease;
        }

        button.btn.btn-dark:hover {
            background-color: rgba(242, 206, 84);
        }

    </style>

</head>
<body>
    <div class="col-md-3">
        <div class="sidenav">
            <div class="login-main-text">
               <img style="width:max-content" src="/imagenes/logoLayout.png"/>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
    <div class="main d-flex align-items-right">
        <div class="col-md-6 col-sm-12 mx-auto">
            <div class="login-container">
                <form asp-controller="Inicio" asp-action="IniciarSesion" method="post">

                    <input class="form-control mb-3" type="text" placeholder="Email" required name="email" />
                    <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="contrasena" />

                    <div class="d-grid gap-2 mb-3 ">
                            <button class="btn btn-dark" type="submit">Iniciar Sesion</button>
                    </div>
                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>

                        </div>
                    }

                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
